<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% comment %}
  person.pk 어떻게 보낼 지
  csrf_token 어떻게 보낼 지
  {% endcomment %}


  <h1>{{ person.username }}의 프로필</h1>
  <div>
    {% comment %} 새로 고침 없이 숫자만 바뀌게 --> span 태그 씌워둠 {% endcomment %}
    {% comment %} span태그의 내용(textContent를 바꿔줌) {% endcomment %}
    팔로잉 : <span id="followings-count">{{ person.followings.all|length }}</span> / 
    팔로워 : <span id="followers-count">{{ person.followers.all|length }}</span>
  </div>

  {% if request.user != person %}
    <div>
      {% comment %} data- : 사용자 정의 데이터 속성 dash뒤의 부분이 -의 위치에 따라 카멜케이스 변수명 반환{% endcomment %}
      <form id="follow-form" data-user-id="{{ person.pk }}">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <input type="submit" value="언팔로우" id="follow-input">
        {% else %}
          <input type="submit" value="팔로우" id="follow-input">
        {% endif %}
      </form>
    </div>
  {% endif %}

  {% comment %} 유저가 작성한 게시글 {% endcomment %}
  <h2>{{ person.username }} 작성한 게시글</h2>
  {% for article in person.article_set.all %}
    <p>{{ article }}</p>
  {% endfor %}

  <hr>

  {% comment %} 유저가 작성한 댓글 {% endcomment %}
  <h2>{{ person.username }} 작성한 댓글</h2>
  {% for comment in person.comment_set.all %}
    <p>{{ comment }}</p>
  {% endfor %}

  <hr>

  {% comment %} 유저가 좋아요한 게시글 {% endcomment %}
  <h2>{{ person.username }} 좋아요한 게시글</h2>
  {% for article in person.like_articles.all %}
    <p>{{ article }}</p>
  {% endfor %}

  <a href="{% url "articles:index" %}">[back]</a>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // 1. querySelector
    
    // 팔로우 버튼
    const formTag = document.querySelector('#follow-form')
    // csrf 토큰
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    
    // 2. 콜백 함수
    const handleFollow = async function (event) {
      // 기본 기능 없애기(submit 할 때 새로고침)
      event.preventDefault()
      const userId = event.currentTarget.dataset.userId
      // const userId = formTag.dataset.userId
      // const userId = this.dataset.userId
      try{
        const response = await axios ({
          method:'post',
          // data-user-id -> user-id => userId
          url:`/accounts/${userId}/follow/`,
          headers: {'X-CSRFToken': csrftoken},
        })
        // views의 follow -> json 응답
        // console.log(response)
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-input')
        if (isFollowed === true) {
          followBtn.value = '언팔로우'
        } else {
          followBtn.value = '팔로우'
        }
        const followingsCountTag = document.querySelector('#followings-count')
        const followersCountTag = document.querySelector('#followers-count')

        followingsCountTag.textContent = response.data.followings_count
        followersCountTag.textContent = response.data.followers_count
      }
      catch (error) {
        console.log(error)
      }
    }

    // 3. 이벤트 리스너
    formTag.addEventListener('submit', handleFollow)
  </script>
</body>
</html>
